<p>search works!</p>
<div class="form-group">
  <form [formGroup]="searchTodoFrom" (ngSubmit)="search()">
<!--    <label for="search"></label>-->
    <input type="text" class="form-control" id="search" formControlName="name">
    <button type="submit" class="btn btn-primary">
      Tìm kiếm
    </button>
  </form>
</div>
<div *ngIf="todoList.length>0">
  <div class="row">
      <span class="col-md-6 col-lg-4 mb-5 mb-lg-5" *ngFor="let todo of todoList">
          <h2 >{{todo.name}}</h2>
          <h2 >{{todo.description}}</h2>
          <h2>{{todo.status}}</h2>
      </span>
  </div>
</div>
<div *ngIf="todoList.length == 0">
  <h2>Không có công việc nào</h2>
</div>
