<h2>My To Do List</h2>
<form class="header" [formGroup]="addTodoForm" (ngSubmit)="addTodo()">
  <input type="text" formControlName="name" placeholder="Tiêu đề">
  <br>
  <br>
  <input type="text" formControlName="description" placeholder="Nội dung công việc">
  <br>

  <select  class="form-control form-control-lg" formControlName="rank"  >
    <option value="-1">Thấp</option>
    <option value="0">Trung bình</option>
    <option value="1">Cao</option>
  </select>
  <input type="submit" class="addBtn" value="add">
  <br>
</form>
