
.border-warning {
  width: 50%;
  height: 50%;
  background: #00b3b3;
  margin: auto;
}
/* Style the close button */
.close {
  //position: absolute;
  right: 10%;
  top: 10%;
  color: black;
}
.fa-pencil-square-o{
  position: page;
}
